server:
  port: 8091

spring:
  application:
    name: demo-gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true #开启从注册中心动态创建路由的功能，利用微服务名进行路由
      routes:
        - id: demo-example-service #payment_route    #路由的ID，没有固定规则但要求唯一，建议配合服务名
          uri: lb://demo-example-service #匹配后提供服务的路由地址
          predicates:
            - Path=/example/**         # 断言，路径相匹配的进行路由
  profiles:
    active: local
